[submodule "SBWT"]
	path = SBWT
	url = git@github.com:algbio/SBWT.git
[submodule "CBL"]
	path = CBL
	url = git@github.com:imartayan/CBL.git
[submodule "bwa"]
	path = bwa
	url = https://github.com/lh3/bwa
[submodule "fmsi"]
	path = fmsi
	url = git@github.com:OndrejSladky/fmsi.git
[submodule "kmercamel"]
	path = kmercamel
	url = git@github.com:OndrejSladky/kmercamel.git
[submodule "prophasm"]
	path = prophasm
	url = git@github.com:prophyle/prophasm.git
[submodule "sshash"]
	path = sshash
	url = git@github.com:jermp/sshash.git
[submodule "wgsim"]
	path = wgsim
	url = git@github.com:lh3/wgsim.git
